

nav {
  background-color: white;
  text-align: center;
}
.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.menu li {
  margin: 10px;
}

.menu li a {
  display: block;
  text-decoration: none;
  color: black;
}

.menu li img {
  width: 100px;
  height: 100px;
}

@media(max-width: 640px) {
  .menu {
    flex-direction: column;
    align-items: center;
  }
  .menu li {
    width: 100%;
    margin: 5px;
  }
}

@media(min-width: 641px) {
  .menu {
    flex-wrap: wrap;
  }
  .menu li {
    width: auto; /* O el ancho que desees para pantallas más grandes */
  }
}
