/* Css General */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Establece la altura de la pantalla completa */
}

.login-container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container label {
  margin-bottom: 4px;
}

.login-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

.login-container button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .login-container {
    padding: 10px;
  }
  .login-container h1 {
    font-size: 18px;
  }
  .login-container input {
    padding: 5px;
    margin-bottom: 5px;
  }
  .login-container button {
    padding: 5px;
  }
}
